.link {
  cursor: pointer;
  background-color: #f54302;
  border-radius: 85px;
  padding: 12.5px 14px;
  margin-right: -10%;
  color: #fff;
  display: inline-block;
  font-size: 14px;
}

.icon {
  margin-right: 20px; /* Spacing for icons */
  color: var(--softTextColor);
  margin-bottom: -2px;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease; /* Add smooth transition */
}

.icon:hover {
  color: var(--softTextColor); /* Softer text color on hover */
  transform: scale(1.1); /* Zoom effect */
}





.dots {
  display: flex;
  gap: 4px;
  cursor: pointer;
  height: 30px;
  width: 30px;
  align-items: center; /* Center dots vertically */
  justify-content: center; /* Center dots horizontally */
}

.dot {
  width: 3px; /* Increase size if needed */
  height: 3px;
  background-color: var(--softTextColor); /* Make sure this variable is defined */
  border-radius: 50%;
}


.popupMenu {
  position: fixed;
  top: 65px; /* Positioning the popup below the dots */
  right: 10px; /* Positioning it on the right side */
  border-radius: 8px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
  gap: 30px;
  font-size: 15px;
  z-index: 1021;
  max-height: calc(100vh - 100px); /* Limit height to wrap content */
  overflow-y: auto;
  box-shadow: 0 0 15px var(--shadow-color); /* Use dynamic shadow color */
  border: 2px solid rgba(0, 0, 0, 0.1); /* Optional, adds a thin border */
}





.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

}

.logout {
  cursor: pointer;
  background-color: var(--bg);
  border-color: var(--bg);
  padding: 7px 11px;
  color: var(--softTextColor);
  align-self: flex-start;
  flex: 0 0 auto;
}

.logout2 {
  cursor: pointer;
  background-color: #f54302;
  border-radius: 15px;
  padding: 7px 11px;
  color: #fff;
  align-self: flex-start;
  flex: 0 0 auto;
}

@media screen and (max-width: 720px) {
  .logout2 {
    cursor: pointer;
    background-color: #f54302;
    border-radius: 15px;
    padding:65px 10px;
    color: #fff;
    align-self: flex-start;
    flex: 0 0 auto;
  }

  .addIcon {
    display: none;
  }


  .dot {
    width: 2px;
    height: 2px;
 
  }
  
  .popupMenu {
    position: fixed;
    top: 50px; /* Positioning the popup below the dots */
    padding: 20px;
    gap: 25px;
    font-size: 14px;
   
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1020;
  }
  
  .link {
    padding: 6.5px 7px;
    font-size: 12px;
    margin-right: -13%;

  }
}

@media screen and (max-width: 640px) {
  .link {
    padding: 6.5px 7px;
    font-size: 12px;
    margin-right: -13%;

  }

 
}
