.link {
  cursor: pointer;
  background-color: #ff4500;
  border-radius: 85px;
  padding: 12.5px 14px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
}

.dots {
  display: flex;
  gap: 4px;
  cursor: pointer;
}

.dot {
  width: 3px;
  height: 3px;
  background-color: var(--textColor);
  border-radius: 50%;
}

.popupMenu {
  position: fixed;
  top: 65px; /* Positioning the popup below the dots */
  right: 10px; /* Positioning it on the right side */
  background-color: var(--bg);
  border-radius: 8px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 16px;
  z-index: 1021;
  max-height: calc(100vh - 100px); /* Limit height to wrap content */
  overflow-y: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

}

.logout {
  display: inline;
}

@media screen and (max-width: 720px) {
  .logout2 {
    cursor: pointer;
    background-color: #ff4500;
    border-radius: 15px;
    padding: 5px 10px;
    color: #fff;
    align-self: flex-start;
    flex: 0 0 auto;
  }

  .addIcon {
    display: none;
  }


  .dot {
    width: 2px;
    height: 2px;
 
  }
  
  .popupMenu {
    position: fixed;
    top: 40px; /* Positioning the popup below the dots */
    padding: 20px;

    font-size: 14px;
   
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1020;
  }
  
}

@media screen and (max-width: 640px) {
  .link {
    padding: 6.5px 7px;
    font-size: 12px;
  }

  .logout {
    display: none;
  }
}
