.link {
  cursor: pointer;
  background-color: #ff4500;
  border-radius: 85px;
  padding: 12.5px 14px; /* Combine padding for left and right */
  color: #fff;
  display: inline-block; /* Ensures the button fits the content */
  font-size: 14px;
}




.addIcon {
  background-color: #ff4500;
  border-radius: 50%;
  color:#fff;
  padding: 10px;
  font-size: 17px;
  width: 28px; /* Ensure width and height are equal */
  height: 28px; /* Ensure width and height are equal */
  display: flex;
  align-items: center;
  border: none;
  justify-content: center;
}

.burger {
  width: 20px;
  height: 15px;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  margin-left: 4px;
  display: none;
}

.line {
  width: 100%;
  height: 2px;
  background-color: var(--textColor);
}

.responsiveMenu {
  position: fixed;
  top: 40px; /* Starts 40px from the top */
  right: 25%;
  background-color: var(--bg);
  height: calc(100vh - 40px); /* Full viewport height minus 40px */
  width: 75%;
  margin-bottom: 40px;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Allows vertical scrolling */
  align-items: flex-end; /* Aligns items to the right */
  gap: 20px;
  font-size: 24px;
  z-index: 999;
  padding-bottom: 80px;
  transition: transform 0.3s ease-in-out;
}




.overlay {
  position: fixed;
  top: 40px;
  right: 0;
  width: 25%;
  height: 120vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 998;
}

.logout {
  display: inline; /* Change this to inline to ensure it displays on large screens */
  
}

@media screen and (max-width: 720px) {
  .logout2 {
    cursor: pointer;
    background-color: #ff4500;
    border-radius: 15px;
    padding: 5px 10px; /* Increase left and right padding */
    color: #fff;
    align-self: flex-start; /* Prevents the item from stretching */
    flex: 0 0 auto; /* Prevents it from growing or shrinking */
  }
  

  .addIcon {
   display: none;
  }}


@media screen and (max-width: 640px) {
  .link {
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
  }



  .burger {
    display: flex;
  }

  .responsiveMenu {
    gap: 15px;
    font-size: 14px;
  }

  .logout {
    display: none; /* Hide logout button on small screens */
  }
}