/* Container styles */
.container {
  display: flex;
  flex-wrap: nowrap;
}

/* Menu styles */
.menu {
  position: fixed;
  width: 250px;
  max-height: 89vh;
  z-index: 1000;
  overflow-y: hidden;
  padding-right: 20px;
  padding-bottom: 100px;
  margin-top: 65px;
  transition: overflow 0.3s ease;
}

.menu:hover {
  overflow-y: scroll;
}

.menu::-webkit-scrollbar {
  width: 15px;
}

.menu::-webkit-scrollbar-track {
  background: var(--bg);
  border-radius: 10px;
}

.menu::-webkit-scrollbar-thumb {
  background-color: var(--softBg);
  border-radius: 10px;
}

.menu::-webkit-scrollbar-thumb:hover {
  background: var(--softBg);
}

/* Main content styles */
.mainContent {
  margin-top: 65px;
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-y: auto;
  padding-left: 5%;
  
}



@media screen and (max-width: 900px) {
  .menu {
    display: none;
  }

  .mainContent {
    margin-left: 0;
  }
}

@media screen and (max-width: 720px) {
  .mainContent {
    padding-left: 0;
  }
}

/* Text container styles */
.textContainer {
  flex: 1;
  padding-left: 250px;
}

.title {
  font-size: 20px;
  padding-bottom: 25px;
}

.user {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 25px;
}

.userImageContainer {
  width: 50px;
  height: 50px;
  position: relative;
  
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
}

.userTextContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--softTextColor);
}

.username {
  font-size: 20px;
  font-weight: 500;
}

.date {
  font-size: 16px;
}

/* Image container styles */
.imageContainer {
  flex: 1;
  height: 350px;
  position: relative;
  
}

.image {
  padding-top: 0.5%;
  border-radius: 15px;

  object-fit: cover;
}

/* Content styles */
.content {
  display: flex;
  gap: 50px;
  padding-left: 250px;
  
}

.post {
  flex: 5;
  margin-top: 60px;
}

.description p {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 20px;
}

.description a {
  color: #0079d3;
}

/* Responsive text sizes */
@media screen and (max-width: 1536px) {
  .title {
    font-size: 24px;
  }
  .description p {
    font-size: 17px;
  }
}

@media screen and (max-width: 1280px) {
  .title {
    font-size: 22px;
  }
  .description p {
    font-size: 16px;
  }
}

@media screen and (max-width: 1024px) {
  .title {
    font-size: 20px;
  }
  .description p {
    font-size: 15px;
  }
}

@media screen and (max-width: 640px) {
  .title {
    font-size: 18px;
  }
  .description p {
    font-size: 14px;
  }
}
