/* menu.module.css */

.container {
  background-color: var(--bg);
  padding: 12px;
  width: 100%;
  height: calc(100vh - 40px); /* Adjust height considering margin-top */
  overflow-y: auto;
}

.subtitle {
  color: gray;
  font-size: 16px;
  font-weight: 400;
}

.title {
  font-size: 22px;
}

.subtitle2 {
  color: gray;
  font-size: 16px;
  font-weight: 400;
  margin-top: 80px;
}

@media screen and (max-width: 1024px) {
  .container {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .container {
    display: none;
  }
}
