.container {
  flex: 1.5;
  margin-top: 20px;
  background-color: rgb(246, 249, 252);
  border-radius: 10PX;
  padding: 12px;

}

.subtitle {
  color: gray;
  font-size: 16px;
  font-weight: 400;
}
.title {
  font-size: 22px;
}

.subtitle2 {
  color: gray;
  font-size: 16px;
  font-weight: 400; 
   margin-top: 80px;
}

@media screen and (max-width: 1024px) {
  .container {
    display: none;
  }
}