.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.left,
.right {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.left {
  background-color: #087bea;
  color: white;
  width: 25%;
  text-align: center;
}

.right {
  background-color: var(--softBg);
  width: 75%;
  padding: 50px 100px;
}

.socialButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  background-color: #ff5555;
}

.socialButton img {
  margin-right: 10px;
}

.toggleText {
  margin-top: 20px;
  color: #087bea;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .right {
    padding: 30px 50px;
  }
}

@media screen and (max-width: 640px) {
  .right {
    padding: 20px;
  }

  .socialButton {
    font-weight: 400;
    font-size: 14px;
  }
}
