.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.left {
  background-image: url('../../../public/bg.image'); /* Adjust the path as necessary */
  background-size: cover;
  background-position: center;
  width: 90%; /* Adjust width as needed */
  max-width: 1000px;
  height: 90%; /* Adjust height as needed */
  max-height: 800px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; /* Centers the background */
  border-radius: 20px;
  z-index: 1; /* Background layer */
}

.right {
  background-color: var(--softBg);
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  z-index: 2; /* Foreground layer */
  position: relative; /* Positioning on top of the left section */
  width: 80%; /* Adjust width as needed */
  max-width: 500px;
}

.rightText {
  font-size: 2rem;
  margin-bottom: 20px;
}

.socialButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 15px;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  background-color: #ff4500;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.socialButton:hover {
  background-color: #e63e00; /* Darker shade for hover effect */
  transform: scale(1.05); /* Slightly scale up the button */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Add a shadow on hover */
}


.socialButton img {
  margin-right: 10px;
}

.toggleText {
  margin-top: 20px;
  color: var(--softTextColor);
  cursor: pointer;
  font-size: 0.9rem;
}

.highlight {
  color: #ff4500; /* Orange color for "Sign up" and "Sign in" */
}

.terms {
  margin-top: 20px;
  font-size: 0.9rem;
  color: var(--softTextColor);
}

.link {
  color: #ff4500;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .right {
    width: 50%;
    padding: 20px;
    top: -5%; /* Adjust upward push for signup box */

  }
  .left {
    width: 100%;
    padding: 20px;
    top: -10%; /* Adjust upward push for signup box */
    height: 50%; /* Reduce height for smaller screens */
    max-height: 300px; /* Set a max height */
  }

  .rightText {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 640px) {
  .rightText {
    font-size: 1.2rem;
  }

  .socialButton {
    font-size: 0.9rem;
    padding: 10px;
  }

  .toggleText {
    font-size: 0.8rem;
  }

  .terms {
    font-size: 0.8rem;
  }
}
