/* Old styles for large screens */


.container {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 8px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userProfile {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.profileImage {
  border-radius: 50%;
  margin-right: 10px;
}
.profileImage2 {
  border-radius: 50%;
  margin-right: 10px;
}

@media screen and (max-width: 640px) {
.profileImage2 {
 
  display: none;

}
}

@media screen and (min-width: 640px) {
  .profileImage {
   
    display: none;
  
  }
  }


.userInfo {
  display: flex;
  flex-direction: column;
}

.username {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  color: gray;
}

.userRole {
  font-size: 12px;
  margin: 0;
}

.date {
  color: gray;
  padding-left: 5px;
  font-size: 10px;
  padding-top: 1px;
                                                                                                                                               
}

.category {
  color: #ffffff;
  border-radius: 10px;
  background-color: rgb(12, 34, 158);
  font-weight: 500;
  font-size: 12px;
  padding: 2px;
  padding-left: 6px;
  padding-right: 6px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  padding-top: 6px;

}

.desc {
  font-size: 16px;
  padding-top: 4px;
  font-weight: 300;
  color: var(--softTextColor);
}

.link {
  border-bottom: 1px solid #ffbc00;
  width: max-content;
  padding: 2px 0;
  font-size: 15px;

}

.imageContainer {
  min-height: 500px;
  width: 100%;
  position: relative;
}

.image {
  object-fit: cover;
  border-radius: 8px;
}

/* 
/* Media query for screens below 640px */
@media (max-width: 640px) {
  .container {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding-left: 15px;
  }

  .profileContainer {
    width: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .profileImage {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .verticalLine {
    width: 1px;
   background-color: var(--softBg);

    position: absolute;
    top: 35px;
    bottom: 0;
  }

  .infoContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1; /* Allow the info container to take up remaining space */
  }

  .header {
    display: flex;
    justify-content: space-between; /* Adjusts the header layout for small screens */
    width: 100%;
  }

  .userProfile {
    display: flex; /* Ensure the userProfile still aligns items horizontally */
    flex-direction: row; /* Keep it row direction on small screens */
    align-items: center; /* Align items to the center vertically */
    margin-top: 0; /* Adjust margin if necessary */
    flex: 1;
  }

  .username {
    font-size: 12px;
  }

  .userRole {
    font-size: 10px;
  }

  .title {
    font-size: 16px;
    padding-top: 0;

  }

  .desc {
    font-size: 13px;
    padding-top: 0;

  }

  .imageContainer {
    min-height: 250px;
    width: 100%; /* Make sure the image container takes the full width */
  }

  .link {
    font-size: 9px;
    padding-top: 0;

  }

  .date {
    font-size: 9px;
    padding-top: 1px;
  }

  .category {
    font-size: 10px;
    padding: 1px 4px;
  }
}