.container {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 8px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userProfile {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.profileImage {
  border-radius: 50%;
  margin-right: 10px;
}

.userInfo {
  display: flex;
  flex-direction: column;
}

.username {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  color: gray;

}

.userRole {
  font-size: 12px;
  margin: 0;
}

.date {
  color: gray;
  padding-left: 5px;
}

.category {
  color: #ffffff;
  border-radius: 10px;
  background-color: rgb(12, 34, 158);
  font-weight: 500;
  padding: 2px;
  padding-left: 6px;
  padding-right: 6px;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.desc {
  font-size: 18px;
  font-weight: 300;
  color: var(--softTextColor);
}

.link {
  border-bottom: 1px solid #ffbc00;
  width: max-content;
  padding: 2px 0;
}

.imageContainer {
  min-height: 300px;
  width: 100%;
  position: relative;
}

.image {
  object-fit: cover;
  border-radius: 8px;
}

/* Media query for screens below 640px */
@media (max-width: 640px) {
  .username {
    font-size: 12px;
  }

  .userRole {
    font-size: 10px;
  }

  .title {
    margin-top: -4;
    font-size: 17px;
    padding-left: 30px;

  }

  .desc {
    margin-top: -4;
    font-size: 13px;
    padding-left: 30px;

  }

  .imageContainer {
    min-height: 260px;
    padding-left: 30px;
  }
  .link {
    font-size: 12px;
    margin-top: -4;
    padding-left: 30px;

  }

  .date {
    font-size: 12px;

  }

  .category {
    font-size: 10px;
    padding: 1px 4px;
  }
}

