/* Modal styles */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

.modalContent {
  background: var(--softBg);
  padding: 20px;
  border-radius: 17px;
  max-width: 90%;
  min-width: 50%;
  max-height: 90%;
  overflow-y: auto;
  position: relative;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  color: var(--textColor);
  border: none;
  font-size: 24px;
  cursor: pointer;
}

/* Write page styles */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  width: 100%;
  max-width: 600px;
  border: 1px solid var(--borderColor);
  padding: 10px;
  border-radius: 13px;
  background-color: var(--bg);
  color: var(--textColor);
  font-family: Arial, Helvetica, sans-serif;
}

.select {
  width: 100%;
  max-width: 600px;
  border: 1px solid var(--borderColor);
  padding: 10px;
  border-radius: 13px;
  margin: 10px 0;
  background-color: var(--bg);
  color: var(--textColor);
}

/* ReactQuill editor styles */
.editor {
  width: 100%;
  max-width: 600px;
  min-height: 200px;
  border: 1px solid var(--borderColor);
  border-radius: 13px;
  font-size: 11px;
  background-color: var(--bg);
}

/* Character count styles */
.characterCount {
  font-size: 12px;
  color: var(--textColor);
}

/* Button styles */
.buttonsContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
}

.button {
  background-color: #ff4500;
  color: white;
  border: none;
  border-radius: 17px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  flex: 1;
  margin-left: 10px; /* Adds space between buttons */
}

.button:disabled {
  background-color: gray;
  cursor: not-allowed;
}

.button:hover {
  background-color: #e04000; /* Darker orange on hover */
}

.fileLabel {
  background-color: #ff4500;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 10px 20px;
  cursor: pointer;
  display: inline-block;
  margin-right: 10px; /* Space between label and button */
}

/* Preview styles */
.previewContainer {
  position: relative;
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.preview {
  max-width: 100%;
  border-radius: 17px;
}

.deleteButton {
  position: absolute;
  top: 5px;
  right: 5px;
  background: red;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.uploading {
  background-color: gray; /* Change color while uploading */
}

.uploadImageButton {
  background-color: #ff4500;
  color: white;
  border: none;
  border-radius: 17px;
  padding: 10px 20px;
  cursor: pointer;
}

@media (min-width: 720px) {
  .uploadImageButton {
 font-size: 12px;
  }
}
