/* Modal styles */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

.modalContent {
  background: var(--softBg);
  padding: 20px;
  border-radius: 10px;
  max-width: 90%;
  min-width: 50%;
  max-height: 90%;
  overflow-y: auto;
  position: relative;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  color: var(--textColor);
  border: none;
  font-size: 24px;
  cursor: pointer;
}

/* Write page styles */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.select {
  margin-bottom: 20px;
  padding: 10px 20px;
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
  border: 1px solid;
  background-color: var(--bg);
  color: var(--textColor);
}

.characterCount {
  color: var(--textColor);
  font-size: 12px;
}

.input {
  width: 100%;
  max-width: 600px;
  border: 1px solid;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--bg);
  color: var(--textColor);
}

.editor {
  width: 100%;
  max-width: 600px;
  min-height: 200px;
  border: 1px solid;
  border-radius: 10px;
  background-color: var(--bg);
}

/* Button styles */
.button {
  background-color: var(--primaryColor);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:disabled {
  background-color: gray;
  cursor: not-allowed;
}

.fileLabel {
  background-color: var(--primaryColor);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  display: inline-block;
}

/* Preview styles */
.previewContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.preview {
  max-width: 100%;
  border-radius: 10px;
}

.deleteButton {
  position: absolute;
  top: 5px;
  right: 5px;
  background: red;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
