.content1{
  display: flex;
  gap: 50px;
}
/* homepage.module.css */

.container {
  display: flex;
  flex-wrap: nowrap;
}

/* Hide scrollbar by default */
.menu {
  position: fixed;
  width: 250px;
  max-height: 100vh; /* Full height */
  z-index: 1000;
  margin-top: 55px;
  transition: overflow 0.3s ease; /* Smooth transition for scrollbar visibility */
}

/* Show scrollbar only when hovering over the menu */


/* Keep existing styles for the mainContent and media queries */
.mainContent {
  margin-left: 300px; /* Account for fixed menu */
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure full height */
  overflow-y: auto; /* Scrollable content */
  padding-left: 5%;
}

@media screen and (max-width: 1024px) {
  .menu {
    width: 250px; /* Adjust this width as needed */
  }

  .mainContent {
    margin-left: 250px; /* Adjust to match menu width */
  }
}

@media screen and (max-width: 900px) {
  .menu {
    display: none;
  }

  .mainContent {
    margin-left: 0;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  flex: 1;
  overflow-x: hidden; /* Prevent horizontal overflow */
}
