.content1{
  display: flex;
  gap: 50px;
}
/* homepage.module.css */

.container {
  display: flex;
  flex-wrap: nowrap;
  
}

/* Hide scrollbar by default */
.menu {
  position: fixed;
  width: 250px;
  max-height: 100vh; /* Full height */
  z-index: 1000;
  overflow-y: hidden; /* Scrollable content */
  padding-right: 20px;
padding-bottom: 100px;
  margin-top: 65px;
  transition: overflow 0.3s ease; /* Smooth transition for scrollbar visibility */
}

.menu:hover {

  overflow-y: scroll; /* Show scrollbar on hover */

}

/* Custom scrollbar styles for WebKit browsers */
.menu::-webkit-scrollbar {
  padding-left: 20px;
  width: 8px; /* Width of the scrollbar */
}



/* Keep existing styles for the mainContent and media queries */
.mainContent {
  margin-left: 300px; /* Account for fixed menu */
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure full height */
  overflow-y: auto; /* Scrollable content */
  padding-left: 1%;
}

@media screen and (max-width: 1024px) {
  .menu {
    width: 250px; /* Adjust this width as needed */
  }

  .mainContent {
    margin-left: 250px; /* Adjust to match menu width */
  }
}

@media screen and (max-width: 900px) {
  .menu {
    display: none;
  }

  .mainContent {
    margin-left: 0;
  }
}


@media screen and (max-width: 720px) {
 
.mainContent {

  padding-left: 0;
}}

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  flex: 1;
  overflow-x: hidden; /* Prevent horizontal overflow */
}
