.container {
  position: relative;
  display: flex;
  padding-top: 80px;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  background-color: var(--softBg); /* Set the background color */
}

.select {
  margin-bottom: 20px;
  padding: 10px 20px;
  width: max-content;
  border-radius: 10px;
  background-color: var(--softBg); /* Set the background color */
  border: 1px solid var(--textColor);
}

.characterCount {
  font-size: 14px;
  margin-top: 10px;
  color: #666;
}

.previewImage {
  max-width: 300px;
  max-height: 200px;
  width: auto;
  height: auto;
  margin-top: 10px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.previewContainer {
  position: relative;
  display: inline-block;
}

.deleteButton {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  cursor: pointer;
}

.deleteButton img {
  width: 16px;
  height: 16px;
}

.error {
  color: red;
  font-weight: bold;
}

.editor {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 800px;
  position: relative;
}

.button,
.addButton {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: var(--softBg); /* Set the background color */
  border: 1px solid var(--textColor);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s; /* Add transition */
}

.addButton {
  border-color: #1a8917;
}

.addButton:hover {
  background-color: #e0e0e0; /* Light grey background on hover */
}

.add {
  display: flex;
  gap: 20px;
  background-color: var(--softBg); /* Set the background color */
  position: absolute;
  z-index: 999;
  width: 100%;
  left: 50px;
  top: 50px;
}

.input {
  padding: 20px;
  font-size: 24px;
  border: 1px solid var(--textColor);
  border-radius: 10px;
  outline: none;
  background-color: var(--softBg); /* Set the background color */
  color: var(--textColor);
  width: 100%;
  max-width: 800px;
  box-sizing: border-box;
  resize: none;
  overflow: hidden;
  transition: background-color 0.3s; /* Add transition */
}

.input::placeholder {
  color: #b3b3b1;
}

.textArea {
  width: 100%;
  max-width: 800px;
  height: 400px;
  border: 1px solid var(--textColor);
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  background-color: var(--softBg); /* Set the background color */
  transition: background-color 0.3s; /* Add transition */
}

.publish {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  border: none;
  background-color: #0079d3;
  color: white;
  cursor: pointer;
  border-radius: 20px;
  z-index: 1000;
  transition: background-color 0.3s; /* Add transition */
}

.publish:hover {
  background-color: #005bb5; /* Darker blue on hover */
}

.quill .ql-editor a {
  color: #0079d3 !important;
  text-decoration: underline; /* Optional: to underline links */
}
