.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Space out the logo and links */
  width: 100%;
  max-width: 1400px; /* Adjust max-width as per your layout */
  margin: 0 auto; /* Center the container */
  padding: 0 20px; /* Optional: Add some padding */
}

.social {
  display: flex;
  gap: 10px;
  flex: 1;
}


.logo {
  display: flex;
  align-items: center;
  gap: 10px; /* Adjust this value to add space between logo and text */
  width: 45px; /* Default width for larger screens */
  height: 45px; /* Default height for larger screens */
  position: relative; /* Required for layout="fill" */
}

.logoImage {
  object-fit: contain; /* Ensure the image scales correctly */
  width: 100%;
  height: 100%;
}

.logoText {
  font-size: 24px;
  color: #ffbc00;
  padding-left: 49px;

  line-height: 1; /* Ensure text aligns properly with the logo image */
}

.links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  font-size: 20px;
}

@media screen and (max-width: 1280px) {
  .logo {
    width: 40px;
    height: 40px;
  }

  .logoText {
    font-size: 20px;
    padding-left: 44px;

  }
  
  .links {
    font-size: 18px;
    gap: 15px;
  }
}

@media screen and (max-width: 1024px) {
  .logo {
    width: 35px;
    height: 35px;
  }

  .social {
    display: none;
  }
  
  .logoText {
    font-size: 20px;
    padding-left: 39px;

  } }

@media screen and (max-width: 768px) {
  .logo {
    width: 30px;
    height: 30px;
  }

  .logoText {
    font-size: 18px;
    padding-left: 34px;

  }
}

@media screen and (max-width: 640px) {
  .logo {
    width: 28px;
    height: 28px;
  }
  .logoText {
    font-size: 16px;
    padding-left: 30px;

  }

  .links {
    justify-content: flex-end;
  }

  .link {
    display: none;
  }

  .wrapper {
    padding: 0 6px;
  }

  .container {
    height: 35px;
  }


}
