
/* styles.module.css or your relevant CSS file */
.buttonText {
  margin-top: 2px; /* Adjust this value as needed */
  display: inline-block; /* Ensure margin works as expected */
}

.buttonText2 {
  margin-top: 4px; /* Adjust this value as needed */
  display: inline-block; /* Ensure margin works as expected */
}

.addButton {
  width: 100%;
  padding: 10px;
  background-color: var(--softBg);
  border: none;
  border-radius: 10px;
  margin-bottom: 0px;
  display: flex;
  align-items: flex-start;
  font-weight: 100;
  cursor: pointer;
  color: var(--softTextColor); /* Adjust text color for contrast */
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;

  font-size: 14px;
}

.addButton:hover {
  background-color: var(--softerBg);
  transform: scale(1.05); /* Slightly scale up the button */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Add a shadow on hover */
}

.active {
  background-color: var(--softBg); /* Use the soft background for active state */
  color: var(--textColor); /* Adjust text color for contrast */
}


.icon {
  margin-right: 10px;
  border-radius: 50%;

}
