/* components/popup/popup.module.css */

.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popupContent {
  background: var(--softBg);
  padding: 20px;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
  width: 700px;
  text-align: center;
}

.title {
  margin: 0;
  font-size: 24px;
  margin-bottom: 10px;
  color: var(--textColor);
}

.description {
  margin-bottom: 20px;
  color:  var(--textColor);
}

.description3 {
  margin-bottom: 10px;
  color:  var(--textColor);
}

.description2 {
  margin-bottom: 20px;
  color:  blue;
}


.button {
  background-color:  #ffbc00;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
}

.closeButton {
  position: relative; /* Added position absolute */
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: var(--textColor);
}
