.title{
  background-color: #ffbc00;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-transform: capitalize;
  border-radius: 15px;

}

.content{
  display: flex;
  padding-top: 5px;
  gap: 50px;
}


