/* Default styles */
.title {
  background-color: #1568ed;
  color: white;
  padding: 5px 10px;
  margin-top: 65px;
  font-size: 18px; /* Reduce font size */
  text-align: center;
  text-transform: capitalize;
  border-radius: 15px;
}

.content {
  display: flex;
  padding-top: 5px;
  gap: 50px;
}

/* Responsive styles for small screens */
@media (max-width: 600px) {
  .title {
    font-size: 16px; /* Reduce font size */
    padding: 3px 8px; /* Adjust padding */
    margin-top: 40px; /* Reduce top margin */
  }

  .content {
    flex-direction: column; /* Stack items vertically */
    gap: 20px; /* Reduce gap between items */
    margin-top: 55px;

  }
}
