

/* Container for multiple items */
.items {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

/* Styling for each item */
.item {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Adjust the gap between the rows */
}

/* Top row container for the image and category */
.topRow {
  display: flex;
  align-items: center;
  gap: 5px; /* Adjust the gap between the image and the category */
}

/* Container for the image */
.imageContainer {
  flex: 0 0 30px; /* Fixed width for the image container */
  height: 30px; /* Fixed height for the image container */
  position: relative;
}

/* Styling for the image */
.image {
  border-radius: 50%;
  object-fit: cover;
  width: 100%; /* Make sure the image fits within the container */
  height: 100%; /* Make sure the image fits within the container */
}

/* Container for text content */
.textContainer {
  display: flex;
  flex-direction: column;
  gap: 2px; /* Space between title and details */
}

/* Styling for post title */
.postTitle {
  font-size: 13px;
  font-weight: 500;
  color: var(--softTextColor);
  margin: 0; /* Remove default margin */
}

/* Container for additional details */
.detail {
  font-size: 12px;
}

/* Styling for the category name */
/* Styling for the category name */
.category {
  font-size: 12px;
  color: var(--softTextColor);

}
.userProfile {
  display: flex; /* Ensure the userProfile still aligns items horizontally */
  flex-direction: row; /* Keep it row direction on small screens */
  align-items: center; /* Align items to the center vertically */
  margin-top: 0; /* Adjust margin if necessary */
  flex: 1;
}

.username {
  font-size: 14px;
  margin: 0;
  word-wrap: break-word; /* Prevents long words or URLs from overflowing */

}

.userInfo {
  display: flex;
  flex-direction: column;
  word-wrap: break-word; /* Prevents long words or URLs from overflowing */

}





.title2 {
  font-size: 14px;
  padding-top: 0;
}
