.items {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.imageContainer {
  flex: 0.7;
  aspect-ratio: 1/1;
  position: relative;
}

.image {
  border-radius: 50%;
  border: 3px solid lightgray;
  object-fit: cover;
}

.textContainer {
  flex: 4;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.category {
  padding: 3px 8px;
  border-radius: 10px;
  font-size: 12px;
  color: white;
  width: max-content;
}

  
.general {
  background-color: #f3722c; /* Orange */
}

.newsandpolitics {
  background-color: #ff9f43; /* Light Orange */
}

.businessandfinance {
  background-color: #ff5e57; /* Coral */
}

.technology {
  background-color: #5e8b7e; /* Teal */
}

.science {
  background-color: #9b59b6; /* Purple */
}

.qanda {
  background-color: #f39c12; /* Yellow */
}

.healthandfitness {
  background-color: #2ecc71; /* Green */
}

.sports {
  background-color: #3498db; /* Blue */
}

.gaming {
  background-color: #e74c3c; /* Red */
}

.funny {
  background-color: #e67e22; /* Pumpkin */
}

.musicandentertainment {
  background-color: #f1c40f; /* Gold */
}

.moviesandtv {
  background-color: #1abc9c; /* Turquoise */
}

.anime {
  background-color: #8e44ad; /* Violet */
}

.popandculture {
  background-color: #d35400; /* Orange Red */
}

.fashionandbeauty {
  background-color: #c0392b; /* Brick Red */
}

.lifestyle {
  background-color: #27ae60; /* Emerald */
}

.foodanddrinks {
  background-color: #2ecc71; /* Green */
}

.artsandcrafts {
  background-color: #16a085; /* Sea Green */
}

.hobbiesandcollectibles {
  background-color: #e74c3c; /* Red */
}

.placesandtravel {
  background-color: #8e44ad; /* Violet */
}

.homeandgarden {
  background-color: #f39c12; /* Yellow */
}

.educationandcareer {
  background-color: #2980b9; /* Dark Blue */
}

.humanitiesandlaw {
  background-color: #d35400; /* Orange Red */
}

.books {
  background-color: #34495e; /* Dark Gray */
}

.natureandoutdoors {
  background-color: #2ecc71; /* Green */
}

.environmentandclimate {
  background-color: #1abc9c; /* Turquoise */
}

.vehiclesandmachinery {
  background-color: #95a5a6; /* Gray */
}












.postTitle {
  font-size: 14px;
  font-weight: 500;
  color: var(--softTextColor);
}

.detail {
  font-size: 12px;
}

.date {
  color: gray;
}
