.container {
  width: 100%;
  padding-top: 55px;
  overflow-x: auto; /* Enable horizontal scrolling */
  overflow-y: hidden; /* Hide vertical scrollbar */
  padding-bottom: 6px; /* Add bottom padding to prevent content cut-off */
}

.categories {
  display: inline-flex; /* Display items in a row */
  flex-wrap: nowrap; /* Prevent items from wrapping to the next line */
  padding: 1px 6px; /* Add padding for spacing */
  margin-bottom: -20px; /* Offset padding-bottom of .container */
}

.container::-webkit-scrollbar {
  width: 1px; /* Width of the scrollbar */
  background-color: #000; /* Black background */
  border-radius: 10px; /* Rounded corners */
  height: 1px;
}

.container::-webkit-scrollbar-thumb {
  background-color: #414040; /* Gray scrollbar handle */
  border-radius: 10px; /* Rounded corners */
  width: 1px; /* Width of the scrollbar */

}


.category {
  display: inline-block; /* Ensure each category is on a single line */
  white-space: nowrap; /* Prevent text from wrapping */
  padding: 6px 10px; /* Add padding for spacing */
  background-color: rgb(43, 42, 42);
  border-radius: 10px;
  
  margin-right: 10px; /* Add margin between categories */
}

/* Add specific styles for each category based on its slug */


.scrollButton {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px;
  cursor: pointer;
  position: absolute;
  z-index: 1;
}

.scrollButton:first-of-type {
  left: 0;
}

.scrollButton:last-of-type {
  right: 0;
}



.category img {
  display: block;
  margin: 0 auto 5px;
}

@media (max-width: 640px) {
  .container {
    flex-direction: column;
    padding-top: 38px;
  
  }

  .categories {
    margin: 0px 0px;
    /* Adjust margin for smaller screens */
  }

  .scrollButton {
    top: 50%;
    transform: translateY(-50%);
  }

  .scrollButton:first-of-type {
    left: 5px;
  }

  .scrollButton:last-of-type {
    right: 5px;
  }
}